@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/*@keyframes moving-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
 body {
    background: linear-gradient(to right, #ff0000, #00ff00, blue, black);
    background-size: 400% 400%;
    animation: moving-gradient 8s ease-in-out infinite;
}*/




.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
}

.wrapper .menu-btn{
  position: fixed;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#btn:checked ~ .menu-btn{
  left: 247px;
}

.wrapper .menu-btn i{
  position: absolute;
  transform: none;
  font-size: 23px;
  transition: all 0.3s ease;
}

.wrapper .menu-btn i.fa-times{
  opacity: 0;
}

#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}

#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}

#sidebar{
  position: fixed;
  background: #404040;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}

#btn:checked ~ #sidebar{
  left: 0;
}

#sidebar .title{
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #222;
}

#sidebar .list-items{
  position: relative;
  background: #404040;
  width: 100%;
  height: 100%;
  list-style: none;
}

#sidebar .list-items li{
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child{
  border-top: none;
}

#sidebar .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

#sidebar .list-items li a i{
  margin-right: 20px;
}

#sidebar .list-items .icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .list-items .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover{
  background: #404040;
}

.list-items .icons a:first-child{
  margin-left: 0px;
}

.content{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #970202;
  z-index: -1;
  text-align: center;
  background: linear-gradient(45deg, #d0d0d0, #ca9dac, #b599c4, #e4e4dc);
  width: 50%;
  height: 50%;
}

.content .header{
  font-size: 45px;
  font-weight: 700;
}

.content p{
  font-size: 40px;
  font-weight: 700;
}

@keyframes moving-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#sidebar .list-items, #sidebar .title{
  position: relative;
  background: linear-gradient(to right, #003333 , #330033 , #333300, #000033);
  background-size: 400% 400%;
  animation: moving-gradient 12s ease-in-out infinite;
}

body {
    
    background: linear-gradient(45deg, #ffcccc, #ccffcc, #ccccff, #ffffcc);
    animation: moving-gradient 12s ease-in-out infinite;
    min-height: 250vh;
}



  
 

/*
.piccontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .piccontainer img {
    width: calc(25% - 20px);
    margin: 10px;
  }


.content .piccontainer {
    position: absolute;
    top: 0;
    left: 0;
  }
